1. Duplique este arquivo no diretório atual
2. Nomeie o novo arquivo para "peers.txt"
3. No novo arquivo remova tudo que não seja os IPs (não deixe linhas vazias)
10.147.20.9
10.147.20.190
10.147.20.150
10.147.20.220
10.147.20.11
10.147.20.1
